.options {
    display: flex;
    width: 70%;
    justify-content: space-between;
    

    &__search, &__basket, &__menu {
      padding-bottom : 0.2rem;
      transition : 0.6s;
    }

   

    &__search:hover, &__basket:hover, &__menu:hover {
      color : #292929;
      font-size : 2rem;
    }
  }