.sign-in {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__top-panel {
    background: #c4c4c4;
    flex: 0.3;
  }

  &__bottom-panel {
    background: #c4c4c4;
    flex: 1;
  }

  &__title {
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: center;
  }

  &__sublink {
    text-align: center;
    padding: 1rem 0;
  }
}
