.shop {
  background: #737373;
  /* min-height: 80vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop__footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
