.footer {
  display: flex;
  padding: 0 1rem;
  background: #000;
  justify-content: space-between;
  border-top: 0.1rem solid #1a1a1a;
}

.footer__logo {
  flex: 1.5;
}

.footer__options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
