.landing {
    display: grid;
    background: #737373;
    min-height: 70vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    &__heading {
        display : flex;
        grid-row : 3/4;
        grid-column : 1/5;
        text-align : center;
        align-items : flex-end;
        justify-content : center;
        color : #fff;
        text-shadow : 0.1rem 0.1rem #292929;
    }

    &__subheading {
        display : flex;
        grid-row : 4/5;
        grid-column : 2/4;
        text-align : center;
        align-items : center;
        justify-content : center;
        color : #292929;
        text-shadow : 0.1rem 0.1rem #7E7E7E;
    }

    &__buttons {
        // display : flex;
        // justify-content : center;
        // background : red;
        grid-row : 5/6;
        grid-column : 2/4;
        width : 60%;
        margin : 0 auto;
    }
}